 body{
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */ 
    

    margin: 0;
    padding: 0;
height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

.box-container{
    font-style: italic;
    display: flex;
    flex-direction: column;
    line-height: 0rem;
    align-items: center;
    justify-content: center;
    /* border: 10px solid black; */
    width: 100%;
}
.box-container h2{
    font-weight: 1.5rem;
    color: brown;
}
#me{
    display: none;
}
#you{
    display: none;
}
.winner{
    display: none;
}
.images{
    width: 100%;
    padding: 0.5rem;
    /* border: 1px solid black; */
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}
.choices img{
    border-radius: 40px;
}
.score{
    margin-top: -1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* color: white; */
    font-size: 1.1rem;
}
.button {
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* width: 50%; */
}
button{
    /* padding: 1rem; */
    /* width: 100%; */
    height: 3rem;
    font-size: 1.2rem;
}
.result{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#win{
    visibility: hidden;
}
#draw{
    visibility: hidden;
}
#loss{
    visibility: hidden;
}
@media only screen and (max-width: 478px){

.box-container {
    
    font-size: 0.6rem;
    margin-right: 40px;
    
}
.box-container h1{
    padding: 1rem;
    border: 2px solid black;

}

 #me{
    display: none;
  margin-left: -2.8rem;
}
#you{
    display: none;
}
.winner{
    display: none;
}
.images{
    margin-top: 3rem;
    justify-content: space-evenly;
    margin-right: 2.8rem;
}
.choices img{
    height: 9rem;
    width: 6rem;
    border-radius: 20px;
}
.score{
    justify-content: space-evenly;
    font-size: 1rem;
}
.button{
    margin-right: 2.5rem;
}
.result{
    margin-right: 2.5rem;
    margin-top: 1rem;
}

#win img{
height: 8rem;
width: 8rem;
}
#draw img{
height: 8rem;
width: 8rem;
}
#loss img{
height: 8rem;
width: 8rem;
margin-right: 10px;
}


}
