body{
    margin: 0px;
    padding: 10px;
    height: 120vh;
    box-sizing: border-box;
    /* border: 10px solid rgb(43, 226, 116); */

/***** Slide Left *****/

    animation: 2s slide-left ease-out;
  }
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }



h1{
    text-align: center;
/*     font-weight: 3000; */
    font-size: 50PX;
    color:crimson;
    font-style: italic;
    
}
.images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.choices{
    height: 100px;
    width: 100px;
}



.choices img:hover{
    border: 5px solid blue;
    border-radius: 50%;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    margin-top: 150px;
}
.users{
    color: green;
}
.comp{
    color: red;
}
.button{
    margin-left: 500px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 80px;
    align-self: center;
    /* height: 1000px; */
}
button{
    height: 40px;
    width: 500px;
    font-size: 20px;
border: 5px solid darkgrey;
border-radius: 5px;
    font-weight: 0px;
}
#win{
    height: 100px;
    width: 100px;
    background-image: url(win.png);
    visibility: hidden;
  
    background-size: cover;
    margin-top: -700px;
}
#loss{
    height: 100px;
    width: 100px;
    background-image: url(loss.png);
    visibility: hidden;
  
    background-size: cover;

}
#draw{
    height: 100px;
    width: 150px;
    background-image: url(draw.png);
    visibility: hidden;
    background-size: cover;
}
@media screen and (max-width:768px) {
    .images {
        /* background-color: aqua; */
        display:flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100% !important;  
        height: 450px;
        margin-top: 95px;
        /* margin-left: 50px; */}


         .choices {
            height: 600px;
    margin-left: 50px;
    /* margin-top: -50px; */
          }
          .rock{
    margin-top: -85px;
    height: 150px;
 }
 .paper{
    margin-top: -85px;
    height: 150px;


 }
 .Scissor{
    margin-top: -85px;
    height: 150px;


 }
 .score{
    margin-top: -100px;
    justify-content: space-evenly;
    padding: 1rem;
 }

.users{
    margin-left: 100px;
}
h1{
    font-size: 22px;
    font-weight: 1500px;
}
.button{
    align-self:  center;
     
     padding: 0.5rem;
     /* width: 400px; */
     margin-left: -10%;
}
#win{
    height: -1000px;
}
#draw{
    height: -600px;
}
}
